html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-color: rgb(61, 53, 53);

}

.slider-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 64rem;
    margin: 0 auto;


}
.slid1,
.slid2,
.slid3,
.slid4{
    visibility: none;
}
.slider{
    display: flex;
    max-width: 64rem;
    overflow: hidden;
    align-items: flex-end;
    border-radius: 1rem;
}
.slider-item{
    display: flex;
    flex-shrink: 0;
    width: 100%;
}
.slid{
    transition: .5s ease-out;
}
.slider-img{
    width: 100%;
    height: 70vh;
}

#slid1:target ~ .slider .slid{
    transform: translateX(0);
}
#slid2:target ~ .slider .slid{
    transform: translateX(-100%);
}
#slid3:target ~ .slider .slid{
    transform: translateX(-200%);
}
#slid4:target ~ .slider .slid{
    transform: translateX(-300%);
}



ul{
    list-style: none;
    text-align: center;
}
ul li {

    display: inline-block;
    margin: 0.8em;
}
ul li a {
    /* border: 20px solid rgba(0, 255, 0, 0.3); */
    display: inline-block;
    width: 1rem;
    height: 1rem;
    font-size: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    transition: .2s ease-in-out;
}
.control-dots ul li a {
	background-color: rgba(255,255,255,.5);
	border-radius: 50%;
}
.control-dots ul li a:hover {
	background-color: rgba(255,255,255,1);
}
#slid1:target ~ .footer .control-dots .active1,
#slid2:target ~ .footer .control-dots .active2,
#slid3:target ~ .footer .control-dots .active3,
#slid4:target ~ .footer .control-dots .active4
{
    background-color: transparent;
	box-shadow: 0 0 0 0.125rem rgba(255,255,255,.5);
}

#slid1:target ~ .footer .control-dots .active1:hover,
#slid2:target ~ .footer .control-dots .active2:hover,
#slid3:target ~ .footer .control-dots .active3:hover,
#slid4:target ~ .footer .control-dots .active4:hover
{
    background-color: transparent;
	box-shadow: 0 0 0 0.125rem rgba(255,255,255,1);
}
.footer{
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
    margin-top: 1.7rem;
}
.slider-text{
    display: flex;
    width: 50%;
    overflow: hidden;
    
    
}
.text-item{
    width: 100%;
    flex-shrink: 0;
    color: #fff;
    font-size: 1.8em;
    transition: .5s ease-out;
}
#slid1:target ~ .footer .slid{
    transform: translateX(0);
}
#slid2:target ~ .footer .slid{
    transform: translateX(-100%);
}
#slid3:target ~ .footer .slid{
    transform: translateX(-200%);
}
#slid4:target ~ .footer .slid{
    transform: translateX(-300%);
}



@media screen and (max-width: 500px){
    .footer{
        flex-direction: column-reverse;
    }
    .slider-text{
        width: 100%;
    }
}